@{
    ViewBag.Title = "Bienvenido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h4>
                    <span class="label label-default">@ViewBag.Title</span>
                </h4>
            </hgroup>
        </div>
    </section>
}
